.serviceDetailsBanner{
  overflow: hidden;
  min-height: 100vh;
  background-color: var(--body1);
}
.bannerWorkDetails {
  overflow: hidden;
  min-height: 100vh;
  background-color: var(--body1);
}
.imageBannerDetails {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.imageServiceDetails{
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlayDetails {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.motionBannerArea {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 2;
  width: 100%;
}
.motionBannerArea h1 {
  font-size: 6rem;
  margin: 0 auto;
  font-family: "elzablack";
  padding: 0 20px;
  text-align: center;
  max-width: 1000px;
}
@media(max-width: 1200px){
  .motionBannerArea h1
  {
    font-size: 4rem;
  }
}
@media(max-width: 767px){
  .motionBannerArea h1
  {
    font-size: 3rem;
  }
}
@media(max-width: 575px){
.motionBannerArea h1 {
  font-size: 40px;
}
}

.blankspace_area{
  min-height: 100px;
  background-color: var(--body1);
}
